body {
  font: 18px/24px "Roboto", "Arial", "Helvetica", sans-serif; }

h1 {
  margin: 0 0 30px;
  line-height: 30px;
  font-size: 24px; }

h2 {
  margin: 0 0 26px;
  line-height: 26px;
  font-size: 22px; }

h3 {
  margin: 0 0 24px;
  line-height: 24px;
  font-size: 20px; }

a {
  text-decoration: none;
  color: #683; }
  a:focus, a:hover {
    outline: none;
    color: #4a6325; }

body {
  margin: 0;
  background: #fff; }

form {
  margin: 0 auto;
  width: 280px; }

.side-btn {
  padding: 4px;
  width: 30px;
  flex-shrink: 0; }

form .line {
  display: flex;
  justify-content: space-between; }
  form .line > * {
    margin-left: 12px;
    margin-right: 12px; }
    form .line > *:first-child {
      margin-left: 0; }
    form .line > *:last-child {
      margin-right: 0; }

select {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  border: 1px solid transparent;
  padding: 4px 15px;
  height: 30px;
  font-family: "Roboto", "Arial", "Helvetica", sans-serif;
  line-height: 20px;
  font-size: 14px;
  outline: none;
  border-color: #ccc;
  background: #fff; }
  form select {
    display: block;
    margin-bottom: 24px;
    width: 100%; }
  select:focus {
    border-color: #683; }
  select[disabled] {
    opacity: 0.5;
    cursor: default !important; }
  select.error {
    color: #f00 !important;
    border-color: #f00 !important; }

textarea {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  border: 1px solid #ccc;
  padding: 4px 15px;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  height: 90px;
  min-height: 90px;
  font-family: "Roboto", "Arial", "Helvetica", sans-serif;
  line-height: 20px;
  font-size: 14px;
  background: #fff;
  outline: none; }
  textarea:focus {
    border-color: #683; }
  textarea.error {
    color: #f00 !important;
    border-color: #f00 !important; }
  form textarea {
    display: block;
    margin: 0 auto 24px;
    width: 100%; }

input[type="text"],
input[type="password"],
input[type="email"],
input[type="submit"],
button {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  border: 1px solid transparent;
  padding: 4px 15px;
  height: 30px;
  font-family: "Roboto", "Arial", "Helvetica", sans-serif;
  line-height: 20px;
  font-size: 14px;
  outline: none; }
  form input[type="text"], form
  input[type="password"], form
  input[type="email"], form
  input[type="submit"], form
  button {
    display: block;
    margin: 0 auto 24px;
    width: 100%; }
  input[type="text"][disabled],
  input[type="password"][disabled],
  input[type="email"][disabled],
  input[type="submit"][disabled],
  button[disabled] {
    opacity: 0.5;
    cursor: default !important; }
  input[type="text"].error,
  input[type="password"].error,
  input[type="email"].error,
  input[type="submit"].error,
  button.error {
    color: #f00 !important;
    border-color: #f00 !important; }

input[type="text"],
input[type="password"],
input[type="email"] {
  border-color: #ccc;
  background: #fff; }
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="email"]:focus {
    border-color: #683; }

button,
input[type="submit"] {
  color: #fff;
  background: #683;
  cursor: pointer; }
  button:hover, button:focus,
  input[type="submit"]:hover,
  input[type="submit"]:focus {
    background: #4a6325; }
  button.danger,
  input[type="submit"].danger {
    background: red; }
  button.icon,
  input[type="submit"].icon {
    padding: 4px 0;
    width: 30px; }
    button.icon svg,
    input[type="submit"].icon svg {
      display: block;
      margin: 0 auto;
      height: 16px;
      width: 16px; }

.add-event-form {
  width: 300px; }
  .add-event-form select {
    padding: 0; }
  .add-event-form .times > * {
    margin-left: 2px;
    margin-right: 2px; }
    .add-event-form .times > *:first-child {
      margin-left: 0; }
    .add-event-form .times > *:last-child {
      margin-right: 0; }

.menu-switch {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 60px;
  height: 60px;
  opacity: 0;
  transition: opacity 0.5s linear 0.3s; }
  .menu-switch span, .menu-switch:before, .menu-switch:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 3px;
    width: 48px;
    height: 6px;
    background: #683;
    opacity: 0;
    transform: translate(-50%, -50%); }
  .menu-switch span {
    transform: translate(50px, -100px) rotate(-180deg);
    transition: all 0.5s ease-out 0.15s; }
  .menu-switch:before {
    transform: translate(-100px, -100px) rotate(-270deg);
    transition: all 0.5s ease-out; }
  .menu-switch:after {
    transform: translate(-100px, 0px) rotate(180deg);
    transition: all 0.5s ease-out 0.3s; }
  .menu-switch.shown {
    opacity: 1;
    transition: opacity 0.5s; }
    .menu-switch.shown span, .menu-switch.shown:before, .menu-switch.shown:after {
      top: 50%;
      left: 50%;
      opacity: 1;
      transform: translate(-50%, -50%) rotate(0);
      transition: all 0.5s ease-out 0.15s; }
    .menu-switch.shown:before {
      top: 25%;
      transition: all 0.5s ease-out 0.3s; }
    .menu-switch.shown:after {
      top: 75%;
      transition: all 0.5s ease-out; }

.main-nav-opener {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 5; }

.main-nav {
  position: fixed;
  z-index: 4;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  line-height: 20px;
  font-size: 14px;
  list-style: none;
  background: #ddd; }
  .main-nav li {
    margin: 10px 0; }
  .main-nav a {
    display: inline-block;
    vertical-align: middle;
    padding: 5px 20px;
    color: #fff;
    background: #683; }
    .main-nav a:hover, .main-nav a:focus {
      background: #4a6325; }
  .main-nav li:hover ul {
    display: block; }
  .main-nav ul {
    position: absolute;
    display: none;
    bottom: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    min-width: 100px; }
    .main-nav ul li {
      display: block;
      margin: 0;
      padding: 3px 0; }
    .main-nav ul a {
      display: block; }

.datepicker-holder {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0 5px; }
  .datepicker-holder > button {
    vertical-align: top; }

.datepicker {
  position: fixed;
  bottom: 0%;
  left: 0;
  width: 280px;
  width: 100%;
  background: #fff; }
  .datepicker .head {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    line-height: 30px; }
  .datepicker .days {
    border: solid #000;
    border-width: 0 0 1px 1px;
    width: 100%;
    display: flex;
    flex-wrap: wrap; }
  .datepicker .day {
    position: relative;
    border: solid #000;
    border-width: 1px 1px 0 0;
    overflow: hidden;
    width: calc(100% / 7);
    padding-top: calc(100% / 7);
    line-height: 28px;
    font-size: 14px;
    text-align: center; }
    .datepicker .day button {
      position: absolute;
      top: 50%;
      left: 50%;
      margin: 0;
      border: 0;
      padding: 0;
      width: 110%;
      height: 110%;
      line-height: inherit;
      font-size: inherit;
      color: #fff;
      background: #683;
      transform: translate(-50%, -50%); }
      .datepicker .day button:hover {
        color: #fff;
        background: #4a6325; }
    .datepicker .day.chosen button {
      color: #fff;
      background: #2e3e17;
      cursor: default; }
    .datepicker .day.off button {
      background: #666;
      cursor: default; }
    .datepicker .day.weekday button {
      color: #000;
      background: #fff;
      cursor: default; }

.date-box {
  display: inline-block;
  vertical-align: top;
  line-height: 30px;
  font-size: 16px; }

.loader {
  position: relative;
  margin: 20px auto;
  width: 40px;
  height: 40px; }
  .loader:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border: 0 solid #683;
    border-top-width: 2px;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    animation: loader 1s ease-in-out infinite; }

@keyframes loader {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

.event {
  margin: 10px;
  padding: 10px;
  background: #eee; }

* {
  box-sizing: border-box; }
  *:before, *:after {
    box-sizing: border-box; }

.App {
  position: relative;
  padding: 100px 10px;
  min-height: 100vh; }

.header {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px; }

.main-logo {
  display: block;
  margin: 0 auto 8px;
  width: 40px;
  height: 40px; }

.add-popup-opener {
  position: fixed;
  bottom: 10px;
  right: 10px; }

.form-valid-msg {
  margin: -24px 0 0;
  line-height: 24px;
  font-size: 12px;
  color: red; }

.msg {
  text-align: center; }
  .msg.error {
    color: red; }
  .msg.success {
    color: green; }

.popup {
  position: fixed;
  z-index: 6;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #bbb;
  display: flex;
  align-items: center;
  align-content: center; }

.link-close {
  position: absolute;
  top: 10px;
  left: 10px; }

.user-box {
  position: absolute;
  top: 20px;
  right: 20px; }
  .user-box button {
    margin: 0 0 0 10px; }

.dateswitcher-box {
  display: inline-block;
  vertical-align: top;
  margin: 0 5px; }
  .dateswitcher-box button {
    vertical-align: top; }
