body {
  font: 18px/24px "Roboto", "Arial", "Helvetica", sans-serif; }

h1 {
  margin: 0 0 30px;
  line-height: 30px;
  font-size: 24px; }

h2 {
  margin: 0 0 26px;
  line-height: 26px;
  font-size: 22px; }

h3 {
  margin: 0 0 24px;
  line-height: 24px;
  font-size: 20px; }

a {
  text-decoration: none;
  color: #282; }
  a:focus, a:hover {
    outline: none;
    color: #185f18; }

body {
  margin: 0;
  background: #fff; }

form {
  margin: 0 auto;
  max-width: 280px; }

.side-btn {
  float: right;
  margin: 0;
  padding: 4px;
  width: 30px; }

select {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  border: 1px solid transparent;
  padding: 4px 15px;
  height: 30px;
  font-family: "Roboto", "Arial", "Helvetica", sans-serif;
  line-height: 20px;
  font-size: 14px;
  outline: none;
  border-color: #ccc;
  background: #fff; }
  form select {
    display: block;
    margin: 0 auto 24px;
    width: 100%; }
  .side-btn + select {
    margin-left: 0;
    width: calc(100% - 50px); }
  select:focus {
    border-color: #282; }
  select[disabled] {
    opacity: 0.5;
    cursor: default !important; }
  select.error {
    color: #f00 !important;
    border-color: #f00 !important; }

input[type="text"],
input[type="password"],
input[type="email"],
input[type="submit"],
button {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  border: 1px solid transparent;
  padding: 4px 15px;
  height: 30px;
  font-family: "Roboto", "Arial", "Helvetica", sans-serif;
  line-height: 20px;
  font-size: 14px;
  outline: none; }
  form input[type="text"], form
  input[type="password"], form
  input[type="email"], form
  input[type="submit"], form
  button {
    display: block;
    margin: 0 auto 24px;
    width: 100%; }
  .side-btn + input[type="text"], .side-btn +
  input[type="password"], .side-btn +
  input[type="email"], .side-btn +
  input[type="submit"], .side-btn +
  button {
    margin-left: 0;
    width: calc(100% - 50px); }
  input[type="text"][disabled],
  input[type="password"][disabled],
  input[type="email"][disabled],
  input[type="submit"][disabled],
  button[disabled] {
    opacity: 0.5;
    cursor: default !important; }
  input[type="text"].error,
  input[type="password"].error,
  input[type="email"].error,
  input[type="submit"].error,
  button.error {
    color: #f00 !important;
    border-color: #f00 !important; }

input[type="text"],
input[type="password"],
input[type="email"] {
  border-color: #ccc;
  background: #fff; }
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="email"]:focus {
    border-color: #282; }

button,
input[type="submit"] {
  color: #fff;
  background: #282;
  cursor: pointer; }
  button:hover, button:focus,
  input[type="submit"]:hover,
  input[type="submit"]:focus {
    background: #185f18; }

.menu-switch {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 60px;
  height: 60px;
  opacity: 0;
  transition: opacity 0.5s linear 0.3s; }
  .menu-switch span, .menu-switch:before, .menu-switch:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 3px;
    width: 48px;
    height: 6px;
    background: #282;
    opacity: 0;
    transform: translate(-50%, -50%); }
  .menu-switch span {
    transform: translate(50px, -100px) rotate(-180deg);
    transition: all 0.5s ease-out 0.15s; }
  .menu-switch:before {
    transform: translate(-100px, -100px) rotate(-270deg);
    transition: all 0.5s ease-out; }
  .menu-switch:after {
    transform: translate(-100px, 0px) rotate(180deg);
    transition: all 0.5s ease-out 0.3s; }
  .menu-switch.shown {
    opacity: 1;
    transition: opacity 0.5s; }
    .menu-switch.shown span, .menu-switch.shown:before, .menu-switch.shown:after {
      top: 50%;
      left: 50%;
      opacity: 1;
      transform: translate(-50%, -50%) rotate(0);
      transition: all 0.5s ease-out 0.15s; }
    .menu-switch.shown:before {
      top: 25%;
      transition: all 0.5s ease-out 0.3s; }
    .menu-switch.shown:after {
      top: 75%;
      transition: all 0.5s ease-out; }

.main-nav {
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  padding: 0;
  line-height: 20px;
  font-size: 14px;
  list-style: none; }
  .main-nav li {
    display: inline-block;
    margin: 0 10px 0 0; }
  .main-nav a {
    display: inline-block;
    vertical-align: middle;
    padding: 5px 20px;
    color: #fff;
    background: #282; }
    .main-nav a:hover, .main-nav a:focus {
      background: #185f18; }

* {
  box-sizing: border-box; }
  *:before, *:after {
    box-sizing: border-box; }

.App {
  padding: 100px 20px 20px; }

.form-valid-msg {
  margin: -24px 0 0;
  line-height: 24px;
  font-size: 12px;
  color: red; }

.msg {
  text-align: center; }
  .msg.error {
    color: red; }
  .msg.success {
    color: green; }

.popup {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #bbb;
  display: flex;
  align-items: center;
  align-content: center; }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 20px; }

.user-box {
  position: absolute;
  top: 20px;
  right: 20px; }
  .user-box button {
    margin: 0 0 0 10px; }
