
$border-color: $black;
$fg: $white;
$bg: $mbc;
$bgh: $mbch;
$bg-chosen: darken($mbc, 20%);


.datepicker-holder {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 0 5px;
    >button {
        vertical-align: top;
    }
}
.datepicker {
    // position: fixed;
    // bottom: 0%;
    // left: 0;
    // width: 280px;
    width: 100%;
    background: $white;
    .head {
        display: flex;
        justify-content: space-between;
        padding: 5px 0;
        line-height: 30px;
    }
    .days {
        border: solid $border-color;
        border-width: 0 0 1px 1px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .day {
        position: relative;
        border: solid $border-color;
        border-width: 1px 1px 0 0;
        overflow: hidden;
        width: calc(100% / 7);
        padding-top: calc(100% / 7);
        line-height: 28px;
        font-size: 14px;
        text-align: center;
        button {
            position: absolute;
            top: 50%;
            left: 50%;
            margin: 0;
            border: 0;
            padding: 0;
            width: 110%;
            height: 110%;
            line-height: inherit;
            font-size: inherit;
            color: $fg;
            background: $bg;
            transform: translate(-50%, -50%);
            &:hover {
                color: $fg;
                background: $bgh;
            }
        }
        &.chosen {
            button {
                color: $fg;
                background: $bg-chosen;
                cursor: default;
            }
        }
        &.off {
            button {
                background: #666;
                cursor: default;
            }
        }
        &.weekday {
            button {
                color: $border-color;
                background: $fg;
                cursor: default;
            }
        }
    }
}