
.main-nav {
    position: absolute;
    top: 20px;
    left: 20px;
    margin: 0;
    padding: 0;
    line-height: 20px;
    font-size: 14px;
    list-style: none;
    li {
        display: inline-block;
        margin: 0 10px 0 0;
    }
    a {
        display: inline-block;
        vertical-align: middle;
        padding: 5px 20px;
        color: $sfgc;
        background: $sbgc;
        &:hover,
        &:focus {
            background: $mbch;
        }
    }
}
