
.main-nav {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 100%;
    height: calc(100vh - 25vw);
    margin: 0;
    padding: 0;
    line-height: 20px;
    font-size: 14px;
    list-style: none;
    background: $brand;
    li {
    }
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        color: $sfgc;
        background: $sbgc;
        &:hover,
        &:focus {
            background: $mbch;
        }
    }
}
