
.main-nav {
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    padding: 0;
    line-height: 20px;
    font-size: 14px;
    list-style: none;
    li {
        display: inline-block;
        position: relative;
        margin: 0 3px 0 0;
    }
    a {
        display: inline-block;
        vertical-align: middle;
        padding: 5px 20px;
        color: $sfgc;
        background: $sbgc;
        &:hover,
        &:focus {
            background: $mbch;
        }
    }
    li:hover ul {
        display: block;
    }
    ul {
        position: absolute;
        display: none;
        bottom: 100%;
        left: 0;
        margin: 0;
        padding: 0;
        width: 100%;
        min-width: 100px;
        li {
            display: block;
            margin: 0;
            padding: 3px 0;
        }
        a {
            display: block;
        }
    }
}
